body {
	margin: 0;
	font-family: 'Poppins', serif;
	height: 100%;
}

html {
	height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.section {
	width: 90%;
	margin: auto;
	padding-bottom: 10px;
}

@media (min-width: 768px) {
	.section {
		width: 70%;
	}
}

@media (min-width: 1800px) {
	.section {
		width: 50%;
		padding-bottom: 20px;
	}
}

.primary-bg {
	background-color: #ff9930;
}

.secondary-bg {
	background-color: white;
}

.tertiary-bg {
	background-color: #eaeaea;
}

.quaternary-bg {
	background-color: #96c6ca;
}

@media (min-width: 1400px) {
	p {
		font-size: 1.25rem;
	}
}

.text-center {
	text-align: center;
}