@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: 'light';
	default: true;
	color-scheme: light;

	--color-primary: #ff9930;
	--color-secondary: #30ff99;
	--color-accent: #9930ff;
}

@plugin "daisyui/theme" {
	name: 'dark';
	prefersdark: true;
	color-scheme: dark;

	--color-primary: #ff9930;
	--color-secondary: #30ff99;
	--color-accent: #9930ff;
}
