@layer theme, base, components, utilities;
@import 'tailwindcss/utilities.css' layer(utilities);

@plugin "daisyui" {
	root: '.daisyui';
	include: button, menu, navbar, drawer;
	themes: false;
}

@plugin "daisyui/theme" {
	root: '.daisyui';
	name: 'light';
	prefersdark: false;
	color-scheme: 'light';

	--color-base-100: oklch(98% 0.016 73.684);
	--color-base-200: oklch(95% 0.038 75.164);
	--color-base-300: oklch(90% 0.076 70.697);

	--color-primary: #ff9930;
	--color-primary-content: oklch(27% 0.077 45.635);
	--color-secondary: #30ff99;
	--color-secondary-content: oklch(26% 0.051 172.552);
	--color-accent: #9930ff;
	--color-accent-content: oklch(97% 0.014 308.299);
}

@plugin "daisyui/theme" {
	root: '.daisyui';
	name: 'dark';
	prefersdark: true;
	color-scheme: 'dark';

	--color-base-100: oklch(14% 0.005 285.823);
	--color-base-200: oklch(14% 0.004 49.25);
	--color-base-300: oklch(26% 0.079 36.259);

	--color-primary: #ff9930;
	--color-primary-content: oklch(27% 0.077 45.635);
	--color-secondary: #30ff99;
	--color-secondary-content: oklch(26% 0.051 172.552);
	--color-accent: #9930ff;
	--color-accent-content: oklch(97% 0.014 308.299);
}

@font-face {
	font-family: Roboto;
	src: url('/Good Times Rg.otf');
}

body {
	margin: 0;
	font-family: 'Poppins', serif;
	height: 100%;
}

html {
	height: 100%;
}

/* GLOBAL COLOUR PALETTE */
:root {
	--primary-color: #ff9930;
	--secondary-color: white;
	--tertiary-color: #eaeaea;
	--quaternary-color: #96c6ca;
	--quinary-color: #ffc13a;
	--contrast-color: #3096ff;
}

/* BUILDING BLOCKS */

.section {
	width: 90%;
	margin: auto;
	padding-bottom: 10px;
}

@media (min-width: 768px) {
	.section {
		width: 70%;
	}
}

@media (min-width: 1800px) {
	.section {
		width: 50%;
		padding-bottom: 20px;
	}
}

/* BG COLOUR  */

.primary-bg {
	background-color: var(--primary-color);
}

.secondary-bg {
	background-color: var(--secondary-color);
}

.tertiary-bg {
	background-color: var(--tertiary-color);
}

.quaternary-bg {
	background-color: var(--quaternary-color);
}

/* TYPOGRAPHY */

@media (min-width: 1400px) {
	p {
		font-size: 1.25rem;
	}

	ul {
		font-size: 1.25rem;
	}
}

.text-center {
	text-align: center;
}

.emphasis {
	font-weight: bold;
}

/* OVERRIDES */

.unset {
	all: unset;
}

/* A11Y FOCUS */

.unset:focus-visible,
:focus-visible {
	outline: 3px solid var(--contrast-color);
	box-shadow: 0 0 0 6px var(--secondary-color);
}

/* ANIMATIONS */

.boop-effect {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.2s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.boop-effect:hover {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}
